/*Fontes*/

@font-face {
    font-family: 'Playlist';
    src: url('../font/Playlist\ Script.otf');
}

@font-face {
    font-family: 'Playlist2';
    src: url('../font/Playlist\ Caps.otf');
}

/*Configurando a tag Span para quando utilizar, puxar a fonte Playlist Script*/

span {
    font-family: 'Playlist', Times, serif;
    font-size: 1.5em;
    font-weight: normal;
}

/*Configurações gerais para elementos do site*/

html {
  scroll-behavior: smooth;
}

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    display: block;
}

/*Estilizando cabeçalho/header/menu*/

.header{
    display: flex; 
    justify-content: space-between; /*Espaço entre os elementos utilizando o display flex*/
    align-items: center; /*Alinhando itens no centro do elemento */
    flex-wrap: wrap; /*Quando a tela for muito pequena, fazer com que fique um embaixo do outro*/
    margin: 0px;
    background-color: #d8d8b1;
}

.logo {
    margin-left: 2rem;
}

.menu {
    display: flex;
    margin-right: 2rem;
}

.menu li {
    margin-left: 30px;
}

.menu li a{
    display: block;
    padding: 10px;
}

body {
    background-color: #d8d8b199;
}

/*Banner/Chamada principal*/

.chamadaprincipal {
    background-image: url("../img/background.jpeg");
    background-blend-mode: saturation;
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.titulo_principal{
    margin: 0;
    color: #d8d8b1;
    font-size: 4em;
    padding-top: 1.5em;
    text-align: center;
}

.subtitulo {
    padding-top: 0.5em;
    color: #d8d8b1;
    text-align: center;
    font-size: 2em;
}

.textoprincipal {
    padding-left: 12%;
    padding-right: 12%;
    color: #d8d8b1;
    text-align: center;
    padding-top: 3.5em;
}

/*Conteúdo do site (GRID)*/

.ursos {
    padding: 20px 0;
    max-width: 78%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: left;
}

.imagemproduto {
    grid-column: 1;
    grid-row: 1 / 6;
    display: block;
}

.tituloproduto {
    font-family: 'Playlist2', Times, serif;
    font-size: 2em;
    grid-column: 2;
    align-items: center;
    text-align: center;
}

.textoproduto {
    grid-column: 2;
}

/*Separador dos produtos*/
.separador {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);  
}

/*Rodapé/Footer*/

footer{
    display: grid;
    background-color: #000;
    align-items: center;
    text-align: center;
    color: #d8d8b1;
    height: 100px;
    padding: 10px 0;
}