/*Fontes*/

@font-face {
    font-family: 'Playlist';
    src: url('../font/Playlist\ Script.otf');
}

@font-face {
    font-family: 'Playlist2';
    src: url('../font/Playlist\ Caps.otf');
}

/*Configurando a tag Span para quando utilizar, puxar a fonte Playlist Script*/

span {
    font-family: 'Playlist', Times, serif;
    font-size: 1.5em;
    font-weight: normal;
}

/*Configurações gerais para elementos do site*/

html {
  scroll-behavior: smooth;
}

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

/*Estilizando cabeçalho/header/menu*/

.header{
    display: flex; 
    justify-content: space-between; /*Espaço entre os elementos utilizando o display flex*/
    align-items: center; /*Alinhando itens no centro do elemento */
    flex-wrap: wrap; /*Quando a tela for muito pequena, fazer com que fique um embaixo do outro*/
    margin: 0px;
    background-color: #d8d8b1;
}

.logo {
    margin-left: 2rem;
}

.menu {
    display: flex;
    margin-right: 2rem;
}

.menu li {
    margin-left: 30px;
}

.menu li a{
    display: block;
    padding: 10px;
}

.menu li a:hover{
    color: white;
}

body {
    background-image: url("../img/wallpaper.png");
    background-color: #d8d8b199;
}

/*Banner/Chamada principal*/

.chamadaprincipal {
    background-image: url("../img/background.jpeg");
    background-blend-mode: saturation;
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.titulo_principal{
    margin: 0;
    color: #d8d8b1;
    font-size: 4em;
    padding-top: 1.5em;
    text-align: center;
}

.subtitulo {
    padding-top: 0.5em;
    color: #d8d8b1;
    text-align: center;
    font-size: 2em;
}

.textoprincipal {
    padding-left: 12%;
    padding-right: 12%;
    color: #d8d8b1;
    text-align: center;
    padding-top: 3.5em;
}

/*Header/Cabeçalho e Banner mobile*/

@media (max-width: 600px) {

    .header{
        display: block;
        justify-content: space-between; /*Espaço entre os elementos utilizando o display flex*/
        align-items: center; /*Alinhando itens no centro do elemento */
        flex-wrap: wrap; /*Quando a tela for muito pequena, fazer com que fique um embaixo do outro*/
        background-color: #d8d8b1;
    }
    
    .logo {
        margin: auto;
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chamadaprincipal {
        background-image: url("../img/background-mobile.png");
        background-blend-mode: saturation;
        background-attachment: fixed;
        background-repeat: no-repeat, repeat;
        background-size: ;
        background-position: center;
        height: 55vh;
    }

    .titulo_principal{
        margin: 0;
        color: #d8d8b1;
        font-size: 1em;
        text-align: center;
    }

    .subtitulo {
        color: #d8d8b1;
        text-align: center;
        font-size: 1em;
    }

    .textoprincipal {
        padding-left: 12%;
        padding-right: 12%;
        color: #d8d8b1;
        text-align: justify;
        padding-top: 3.5em;
    }
}

/*Conteúdo do site (GRID)*/

.ursos {
    background-color: #d8d8b1de;
    padding: 5%;
    /*padding: 20px 0;*/
    /*max-width: 78%;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: left;
}

.ursos2 {
    background-color: #bdbd89d1;
    padding: 5%;
    /*padding: 20px 0;*/
    /*max-width: 78%;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: left;
}

.imagemproduto {
    grid-column: 1;
    grid-row: 1 / 6;
    display: block;
}

.tituloproduto {
    font-family: 'Playlist2', Times, serif;
    font-size: 2em;
    grid-column: 2;
    align-items: center;
    text-align: center;
}

.textoproduto {
    text-align: justify;
    grid-column: 2;
}

.botao {
    text-align: center;
}

.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    align-items: center;
}

.button1:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Separador dos produtos*/
.separador {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);  
}

/*Rodapé/Footer*/

footer{
    display: grid;
    background-color: #000;
    align-items: center;
    text-align: center;
    color: #d8d8b1;
    height: 100px;
    padding: 10px 0;
}

footer a{
    color: #d8d8b1;
}

footer p{
    font-size: smaller;
}

footer a:hover{
    color: #fff;
}


#instagram {
    margin: 0px 2%;
}

#whatsapp {
    margin: 0px 2%;
}

#linkedin {
    margin: 0px 2%;
}

#github {
    margin: 0px 2%;
}

#whatsappflutuante {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}

i.fa-brands.fa-whatsapp {
    padding-top: 13px;
}